{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1>Create your account</h1>
        <div class="container mt-4">
            {{ form(registerForm) }}
        <div>
{% endblock %}